{% extends "dashboard/base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="w-full flex justify-end absolute p-6">
    <div id="alert-3"
        class="flex items-center justify-center mr-0 max-w-[50%] text-right p-4 text-green-800 rounded-lg bg-green-100"
        role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="flex items-center justify-center">
    <div class="container my-10 px-4">
        <div class="flex items-start justify-between mb-6">
            <h2 class="text-4xl font-semibold mb-4">{{ election.title }}</h2>
            <a href="{% url 'election_stats' pk=election.pk %}">
                <button type="button"
                    class="w-40 shadow-xl py-3 px-4 text-sm font-semibold rounded text-white bg-[#333] hover:bg-black focus:outline-none">
                    View Stats
                </button>
            </a>
        </div>
        <div class="rounded-xl py-6 bg-cover bg-no-repeat"
            style="height: 70vh; background-image: url({{election.image.url}}); background-repeat: no-repeat;">
        </div>
        <!-- <div class="flex flex-col md:flex-row items-start justify-between gap-4 my-8 w-full">
            <div class="leading-6">
                <h4 class="text-3xl mb-3 font-medium">Description</h4>
                <p class="text-xl">{{ election.description }}</p>
            </div>
            <div class="bg-[#263238] rounded-lg text-white p-10 sm:w-full">
                <p class="text-4xl font-semibold text-center mt-4 mb-6">Time Left</p>
                <div id="countdown" class="text-4xl font-bold p-4 text-center"></div>
            </div>
        </div> -->
        <div class="leading-6 my-10">
            <h4 class="text-3xl mb-3 font-medium">Description</h4>
            <p class="text-xl">{{ election.description }}</p>
        </div>
        <div class="bg-[#263238] rounded-lg text-white p-10 w-full">
            <p class="text-4xl font-semibold text-center mt-4 mb-6">Time Left</p>
            <div id="countdown" class="text-4xl font-bold p-4 text-center"></div>
        </div>

        <div>
            <h2 class="text-2xl text-[#263238] mt-7 mb-10 flex items-center justify-center w-full">
                Candidates
            </h2>
            <!-- <div
                class="grid grid-cols-1 md:grid-cols-{% if top_candidates|length < 4 %}{{ top_candidates|length }}{% else %}2{% endif %} lg:grid-cols-{% if top_candidates|length < 4 %}{{ top_candidates|length }}{% else %}4{% endif %} gap-8 px-6 pb-6">
                {% for candidate in candidates %}
                <div class="bg-gradient-to-b from-gray-300 flex flex-col items-center justify-between rounded-md border border-gray-400 shadow-lg bg-[#fdfdfd] p-8"
                    style="min-width: 30rem; max-width: 40rem; justify-self: center;">
                    <img class="w-48 h-48 border-4 border-white rounded-full object-cover" src={{ candidate.image.url }}
                        alt="user photo">
                    <div class="text-center ">
                        <p class="text-[#263238] text-3xl font-bold py-4">{{ candidate.name }}</p>
                    </div>
                    <a href="{% url 'candidate_detail' pk=candidate.pk %}"
                        class="text-white border-[#5478f4] rounded-2xl text-lg py-2 px-2 text-center mb-2 w-full"
                        style="background-color: #5478f4;">
                        Details
                    </a>
                </div>
                {% endfor %}
            </div> -->
            <!-- <div class="flex flex-col md:flex-row flex-wrap items-center justify-between"> -->
            <div
                class="grid grid-cols-1 md:grid-cols-{% if candidates|length < 2 %}1{% else %}2{% endif %} lg:grid-cols-{% if candidates|length < 3 %}{{ candidates|length }}{% else %}3{% endif %} gap-8 px-6 pb-6">
                {% for candidate in candidates %}
                <div
                    class="flex flex-col items-center justify-between rounded-md border border-gray-400 shadow-lg bg-[#fdfdfd] p-8 self-center w-full max-w-[650px] justify-self-center">
                    {% if candidate.id == winner_id %}
                    <div class="self-end text-green-700 rounded-xl bg-green-300 p-3">winner</div>
                    {% endif %}
                    <img class="w-48 h-48 border-4 border-white rounded-full object-cover" src={{ candidate.image.url }}
                        alt="user photo">
                    <div class="text-center ">
                        <p class="text-[#263238] text-3xl font-bold py-4">{{ candidate.name }}</p>
                    </div>
                    {% if not voted and election_active %}
                    <a href="{% url 'confirm_vote' pk=candidate.pk %}"
                        class="w-full shadow-xl py-4 px-4 text-sm font-semibold rounded-lg text-white bg-[#333] hover:bg-black focus:outline-none text-center">
                        Vote Now
                    </a>
                    {% endif %}
                    <a href="{% url 'candidate_detail' pk=candidate.pk %}"
                        class="w-full shadow-xl py-4 px-4 text-sm font-semibold rounded-lg text-white bg-[#333] hover:bg-black focus:outline-none text-center mt-4 mb-4">
                        Details
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ election.end_date|date:'M d, Y H:i:s' }}").getTime();
    // console.log(countDownDate);
    // console.log("{{ election.end_date|date:'M d, Y H:i:s' }}")

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("countdown").innerHTML = days + "d : " + hours + "h : "
            + minutes + "m : " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Election Expired";
        }
    }, 1000);
</script>

{% endblock content %}