{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="h-[80vh] w-full flex items-center justify-center">
    <div class="bg-white shadow-md rounded px-10 pt-8 pb-10 mb-6">
        <form method="POST" action="{% url 'confirm_vote' pk=candidate.pk %}" class="w-full max-w-lg">
            {% csrf_token %}
            <p class="text-center text-xl font-semibold pb-5">Confim Vote for <span class="font-bold">
                    {{ candidate.name }}</span>?</p>
            <button type="submit"
                class="w-[400px] shadow-xl py-4 px-4 text-md font-semibold rounded text-white bg-[#333] hover:bg-black focus:outline-none">
                Vote
            </button>
        </form>
    </div>
</div>
{% endblock %}