{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="w-full flex justify-end absolute p-6">
    <div id="alert-3" class="flex items- mr-0 max-w-[50%] text-right p-4 text-green-800 rounded-lg bg-green-100"
        role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="flex items-center justify-center my-8">
    <div class="container p-14 rounded-lg border border-gray-500">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="container">
                <div class="mb-6">
                    <h3 class="text-3xl font-extrabold text-center">Edit Election</h3>
                </div>
                {{ form|crispy }}
                <div class="!mt-10">
                    <button type="submit"
                        class="w-full shadow-xl py-4 px-4 text-sm font-semibold rounded text-white bg-[#333] hover:bg-black focus:outline-none">
                        Edit Election
                    </button>
                </div>
        </form>
    </div>
</div>
{% endblock content %}